@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: darkgray;
    font-family: 'Open Sans', sans-serif;
    padding-top: 2rem;
}

.container {
    width: 80%;
    margin: auto;
    font-size: 0;
}

#first-div {
    display: inline-block;
    height: 23rem;
    width: 48rem;
    float: left;
    background: #059f5f;
}

#first-div p {
    font-size: 2.4rem;
    color: white;
    font-weight: bold;
    padding: 3rem;
}
.same-size {
    display: inline-block;
    width: 24rem;
    height: 23rem;
    background: orange;

}

img, .float-right{
    float: right;
}
img {
    position: relative;
    right: 4.8rem;
    height: 69rem;
}

.float-right{
    margin-right: 4.8rem;
}

span {
    font-size: 1.4rem;
    color: white;
    margin-left: 2rem;
    line-height: 2.5rem;
}

button {
    padding: 1rem;
    width: 25%;
    background: #059f5f;
    color: white;
    border: solid white 1px;
    margin-top: 2rem;
    margin-left: 3rem;
}

.fa-download, .fa-info {
    margin-right: 1rem;
}

.icon {
    position: relative;
    font-size: 5rem;
    margin-left: 8.8rem;
    top: 10rem;
}

.text-icon {
    display: block;
    position: relative;
    top: 12rem;
    padding-left: 7rem;
}

.span-margin {
    display: block;
    position: relative;
    top: 12rem;
    padding-left: 6rem;
}
#social-menu {
    padding-left: 5rem;
}

.blue {
    background: dodgerblue;
}

.red {
    background: indianred;
}

.green {
    background: #059f5f;
}

.orange {
    background: #ff6200;
}

#container-point {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
}

.point1 ,.point2, .point3 {
    position: absolute;
    display: inline-block;
    z-index: 999;
    background: white;
    border: white 5px solid;
    border-radius: 24px;
    width: 5%;
    height: 5%;
    right: 23rem;
    top: 5rem;
}
.point1 {
    margin-right: 2rem;
    border-color:  rgba(34, 34, 34, 0.52);
    background: rgba(34, 34, 34, 0.52);
}

.point2 {
    margin-right: 4rem;
}

.point3 {
    border-color: rgba(34, 34, 34, 0.52);
    background: rgba(34, 34, 34, 0.52);
}

#container-arrow-right{
    position: absolute;
    width: 3%;
    height: 6%;
    border: 1px solid white;
    background: rgba(34, 34, 34, 0.52);
    border-radius: 24px;
    right: 23rem;
    top: 37rem;
}

.fa-arrow-right, .fa-arrow-left {
    margin-left: 1.5rem;
    margin-top: 1.1rem;
    color: white;
    font-size: 2rem;
}

#container-arrow-left {
    position: absolute;
    width: 3%;
    height: 6%;
    border: 1px solid white;
    background: rgba(34, 34, 34, 0.52);
    border-radius: 24px;
    right: 59rem;
    top: 37rem;
}



