@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: darkgray;
    font-family: 'Open Sans', sans-serif;
    padding-top: 2rem;
}

.container {
    width: 80%;
    margin: auto;
    font-size: 0;
}

#first-div {
    display: inline-block;
    height: 23rem;
    width: 48rem;
    float: left;
    background: #059f5f;
}

#first-div p {
    font-size: 2.4rem;
    color: white;
    font-weight: bold;
    padding: 3rem;
}
.same-size {
    display: inline-block;
    width: 24rem;
    height: 23rem;
    background: orange;

}

.container-image {
    display: inline-block;
    float: right;
    width: auto;
}


img, .float-right{
    float: right;
}
img {
    position: relative;
    right: 3.5rem;
    height: 69rem;
}

.float-right{
    margin-right: 3.5rem;
}

span {
    font-size: 1.4rem;
    color: white;
    margin-left: 2rem;
    line-height: 2.5rem;
}

button {
    padding: 1rem;
    width: 25%;
    background: #059f5f;
    color: white;
    border: solid white 1px;
    margin-top: 2rem;
    margin-left: 3rem;
}

.fa-download, .fa-info {
    margin-right: 1rem;
}

.icon {
    position: relative;
    font-size: 5rem;
    margin-left: 8.8rem;
    top: 10rem;
}

.text-icon {
    display: block;
    position: relative;
    top: 12rem;
    padding-left: 7rem;
}

.span-margin {
    display: block;
    position: relative;
    top: 12rem;
    padding-left: 6rem;
}
#social-menu {
    padding-left: 5rem;
}

.blue {
    background: dodgerblue;
}

.red {
    background: indianred;
}

.green {
    background: #059f5f;
}

.orange {
    background: #ff6200;
}

#container-point {
    position: relative;
    margin-left: 33rem;
    width: 7rem;
    height: 5rem;
}


.point3, .point2, .point1 {
    position: relative;
    display: inline-block;
    border: rgba(34, 34, 34, 0.43) 4px solid;
    border-radius: 24px;
    width: 1%;
    height: 2%;
    bottom: 68rem;
    margin-left: 1rem;
    background: rgba(34, 34, 34, 0.43);
}

.point1 {
    border: white 4px solid;
    background: white;
}

#container-arrow-right {
    position: relative;
    float: right;
    border: solid 1px white;
    background: rgba(34, 34, 34, 0.43);
    bottom: 35rem;
    padding: 1.3rem;
    border-radius: 24px;
    font-size: 1.5rem;
    color: white;
}

#container-arrow-left {
    position: relative;
    float: left;
    border: solid 1px white;
    background: rgba(34, 34, 34, 0.43);
    padding: 1.3rem;
    border-radius: 24px;
    font-size: 1.5rem;
    color: white;
    right: 35rem;
    bottom: 40.3rem;

}











